<section id="posts">

    <header data-title="My Blog" class="name">
        <nav>
            <a href="#comments" data-router="section" data-icon="search"></a>
        </nav>

        <nav class="right">
            <!--<a href="#post" id="add" class="add-entry" data-router="section" data-icon="plus" data-action="create-post"></a>-->
            <a href="#" id="add" class="add-entry" data-icon="plus"></a>
        </nav>
    </header>


    <footer>
        <nav>
            <a href="#posts" data-router="section" data-icon="home" class="active"></a>
            <a href="#tops"  data-router="section" data-icon="search"></a>
        </nav>
    </footer>


    <article class="active scroll list">
        <ul id="entries" class="entries"></ul>
    </article>


</section>
