<section id="post" data-transition="slide">

    <header data-title="Post nº 1" class="title">
        <nav>
            <a href="#back" id="back" data-router="section" data-icon="left" data-label="Blog"></a>
        </nav>

        <nav class="right">
            <a href="#back" id="remove" data-router="section" data-icon="remove"></a>
        </nav>
    </header>

    <article class="active">

        <form id="entry" class="form">
            <fieldset class="title">
                <label>Title:</label>
                <input id="title" type="text" value="">
            </fieldset>

            <fieldset class="content">
                <label>Content:</label>
                <input id="content" type="text" value="">
            </fieldset>

            <fieldset class="tags">
                <label>Tags:</label>
                <input id="tags" type="text" value="">
            </fieldset>
        </form>

        <footer class="footer">
            <a href="#back" id="done"   data-router="section" data-icon="check"  class="button left">Done</a>
            <a href="#back" id="cancel" data-router="section" data-icon="cancel" class="button right cancel">Cancel</a>
        </footer>

    </article>

</section>
