<section id="posts">

    <header data-title="My Blog" class="">
        <nav>
            <a href="#" data-icon="search"></a>
        </nav>

        <nav class="right">
            <a href="#post" data-router="section" data-icon="plus" data-action="create-post"></a>
        </nav>
    </header>


    <footer>
        <nav>
            <a href="#posts" data-router="section" data-icon="home" class="active"></a>
            <a href="#tops"  data-router="section" data-icon="search"></a>
        </nav>
    </footer>


    <article class="active scroll list">
        <ul>
            <li class="arrow selectable">
                <a href="#post" data-router="section">Post nº 1</a>
            </li>
            <li class="arrow selectable">
                <a href="#post" data-router="section">Post nº 2</a>
            </li>
            <li class="arrow selectable">
                <a href="#post" data-router="section">Post nº 3</a>
            </li>
            <li class="arrow selectable">
                <a href="#post" data-router="section">Post nº 4</a>
            </li>
            <li class="arrow selectable">
                <a href="#post" data-router="section">Post nº 5</a>
            </li>
        </ul>
    </article>


</section>
