<section id="posts">

    <header data-title="My Blog" class="">
        <nav>
            <a href="#" data-icon="search"></a>
        </nav>

        <nav class="right">
            <a href="#post" data-router="section" data-icon="plus" data-action="create-post"></a>
        </nav>
    </header>


    <footer>
        <nav>
            <a href="#posts" data-router="section" data-icon="home" class="active"></a>
            <a href="#tops"  data-router="section" data-icon="search"></a>
        </nav>
    </footer>


    <article class="active scroll list">
        <ul id="entries"></ul>
    </article>


</section>
